Aula 01 - Configurações de ambiente Python

In [1]:
print("Inteligencia Artificial e Big Data")

Inteligencia Artificial e Big Data

In [2]:
# instalação biblioteca pandas
#!pip install pandas

In [3]:
#importar a biblioteca pandas

import pandas as pd # importa a biblioteca pandas e chama ela como pd

In [4]:
# Criando um dicionario no Python
Dicionario = {
    'A':[1,2,3],
    'B':[-3,-2,-1],
    'C':[0,10,20]
}
# Criando um index para as linhas do dicionario
Label =['1ª Linha','2ª Linha','3ª Linha']

# Criando o DataFrame
DataFrame_01 = pd.DataFrame(Dicionario,index=Label)
print(DataFrame_01)

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [5]:
# Selecionando as colunas A e B
DataFrame_01[['A','B']]

          A  B
1ª Linha  1 -3
2ª Linha  2 -2
3ª Linha  3 -1

In [6]:
# Selecionando as colunas A e C
DataFrame_01[['A','C']]

          A   C
1ª Linha  1   0
2ª Linha  2  10
3ª Linha  3  20

In [7]:
# Criando uma coluna nova no dataframe

DataFrame_01['Nova Coluna'] = DataFrame_01['A']*DataFrame_01['B']

In [8]:
# Exibindo o Dataframe
DataFrame_01

          A  B   C  Nova Coluna
1ª Linha  1 -3   0           -3
2ª Linha  2 -2  10           -4
3ª Linha  3 -1  20           -3

In [9]:
# Exibindo mais de um valor na celula do Jupyter notebook
a =5 
print(a)
print(DataFrame_01)

5
          A  B   C  Nova Coluna
1ª Linha  1 -3   0           -3
2ª Linha  2 -2  10           -4
3ª Linha  3 -1  20           -3

In [10]:
# Excluindo a coluna  do Dataframe
DataFrame_01.drop('Nova Coluna',axis=1) # drop exclui a coluna do Dataframe axis =1 exclui a coluna

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [11]:
# Excluindo uma coluna do Dataframe de forma permanente
# Excluindo a coluna  do Dataframe
DataFrame_01.drop('Nova Coluna',axis=1,inplace=True) # drop exclui a coluna do Dataframe axis =1 exclui a coluna

In [12]:
DataFrame_01 #exibindo o dataframe

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [13]:
# Localizando uma linha no Dataframe

DataFrame_01.loc['1ª Linha'] # Localiza uma linha do Dataframe

A    1
B   -3
C    0
Name: 1ª Linha, dtype: int64

In [14]:
DataFrame_01.loc['3ª Linha'] # Localiza uma linha do Dataframe

A     3
B    -1
C    20
Name: 3ª Linha, dtype: int64

In [15]:
# Localizando linhas e colunas
DataFrame_01.loc[['1ª Linha','3ª Linha'],['A','C']]

          A   C
1ª Linha  1   0
3ª Linha  3  20

In [16]:
DataFrame_01.loc[['1ª Linha','2ª Linha'],['A','B']]

          A  B
1ª Linha  1 -3
2ª Linha  2 -2

In [17]:
# Localizando uma linha do Dataframe pelo indice
DataFrame_01.iloc[2:3,1:] # [Linha, coluna]

          B   C
3ª Linha -1  20

In [18]:
DataFrame_01.iloc[2:3,0:] # [Linha, coluna]

          A  B   C
3ª Linha  3 -1  20