In [1]:
# Problema classificar se uma pessoa comprar ou nao um produto com base na idade, renda e sexo
# importa bibliotecas 
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/danielvieira95/Inteligencia_Artificial_2025/refs/heads/main/bases_de_dados/Social_Network_Ads.csv')

In [ ]:
df.head() # exibe as primeiras linhas do dataframe

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
# Criando um dicionário para substituir o nome de cada coluna
dicionario = {
    'User ID': 'Usuario','Gender':'Genero','Age': 'Idade','EstimatedSalary':'Salario Estimado',
    'Purchased':'Comprou'
}

In [5]:
df.rename(columns=dicionario,inplace=True) # renomeia a coluna

In [6]:
df.head()

    Usuario  Genero  Idade  Salario Estimado  Comprou
0  15624510    Male     19             19000        0
1  15810944    Male     35             20000        0
2  15668575  Female     26             43000        0
3  15603246  Female     27             57000        0
4  15804002    Male     19             76000        0

In [7]:
# importa as bibliotecas necessárias para a análise de dados
import matplotlib.pyplot as plt # importa a matplotlib
from sklearn.svm import SVC # importa da biblioteca SVM o modelo SVC
from sklearn.preprocessing import StandardScaler # faz a normalização dos dados
from sklearn.metrics import confusion_matrix,accuracy_score, precision_score, recall_score,f1_score
from matplotlib.colors import ListedColormap # importa a biblioteca matplotlib

In [8]:
# Seleciona as colunas do dataframe
X = df.iloc[:,[2,3]].values # pega os valores da primeira coluna ate a coluna 3
Y = df.iloc[:,[-1]].values # pega a ultima coluna do dataframe

In [ ]:
X

In [ ]:
Y

In [11]:
# importa as bibliotecas para dividir os dados em treino e teste
from sklearn.model_selection import train_test_split # importa o metodo train teste split

In [12]:
# dividindo os dados em treino e teste
X_treino, X_teste, Y_treino,Y_teste= train_test_split(X,Y,test_size=0.3,random_state=3)

In [13]:
# Normalizando os dados com Standscaler
sc = StandardScaler() # armazena o Stand Scaller na variavel sc